<%= link_to "Add USer", "users/new", class:"btn btn-primary"%>
<br><br>

<%=select_tag "role", options_from_collection_for_select(Role.show_list, "id", "name"), prompt: "Select Role",class: 'form-control', onclick: "updateUsers()" %><br>
<table class='table', id="users_table">
  <thead>
      <tr>
        <th>First Name &nbsp; &nbsp; &nbsp;</th>
        <th>Last Name &nbsp; &nbsp; &nbsp;</th>
        <th>Email &nbsp; &nbsp; &nbsp;</th>
        <th>Roles &nbsp; &nbsp; &nbsp;</th>
      </tr>
  </thead>
  <tbody id="user_list">
    <%= render "users_list" %>
  </tbody>

    </table>
<%= link_to "Home", root_path, class:"btn btn-primary"%>
<script type="text/javascript">
  $(document).ready(function() {
    $('#users_table').dataTable()
  })

function updateUsers(){
  var role = $('#role').val()
  $.ajax({
    method: 'GET',
    url: '/role_users',
    data: {role: role},
    success: function(data){
      $('#user_list').html(data)
    }
  })
}

</script>



